body {
  background-color: blue;
  background-image: url(../america-lagos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0px;
}
header {
  text-align: center;
  padding: 1.6vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0.8vw rgba(0, 0, 0, 0.2);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

main {
  margin: 1.6vw auto;
  max-width: 60vw;
  padding: 1.6vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.8vw;
  box-shadow: 0px 0px 0.8vw rgba(0, 0, 0, 0.2);
}

form {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-size: 1.6vw;
  font-weight: bold;
  margin-bottom: 1.6vw;
}

label {
  display: block;
  margin-bottom: 0.8vw;
  font-size: 1.2vw;
}

.select-container{
  display: flex;
  border: none;
  appearance: none;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  width: 90.5%;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  font-size: 15px;
  border-radius:0.8vw;
}

input[type="text"],
input[type="date"] {
  display: flex;
  margin-bottom: 1.6vw;
  width: 88.9%;
  padding: 15px;
  border-radius: 0.8vw;
  border: none;
}


input[type="text"],
input[type="date"] {
  background-color: rgba(255, 255, 255, 0.8);
}

input[type="file"] {
  background-color: #ffffff00 !important;
  color: #000 !important;
  font-size: 1.2vw !important;
  margin: 5px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
}

button[type="submit"]{
  display: center;
 margin-bottom: 1.6vw;
 width: 60vw;
 padding: 1.6vw;
 border-radius: 0.8vw;
 border: none;
 
}
button[type="submit"] {
  background-color: #3c8a3f;
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3c8a3f;
}

footer {
  text-align: center;
  padding: 0.8vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 0.8px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0.8vw rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  main {
    max-width: 72vw;
  }

  legend {
    font-size: 2.4vw;
    margin-bottom: 1.92vw;
  }

  label {
    font-size: 1.6vw;
    margin-bottom: 1.2vw;
  }

 
}